main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-img {
  width: 100%;
}

.card {
  width: 60%;
}

.question-card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
}

.list-group-item:hover {
  background-color: rgba(0, 0, 0, 0.05);
  cursor: pointer;
}
