main {
  height: calc(100vh - 47px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-img {
  max-height: 250px;
  object-fit: cover;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 8px;
}

.main-container {
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 0 !important;
  overflow: hidden;
}

.left-navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  background-color: gray;
  margin-right: 16px;
  min-height: 650px;
  width: 180px;
}

.nav-link {
  color: white !important;
  position: relative;
}

.nav-link:hover {
  border-left: 2px solid white;
}

.nav-box-left {
  margin-top: 36px;
}

.main-question-container {
  background-image: url(img/brainbg.jpg);
  background-position: center;
  padding: 16px !important;
  text-align: center;
}

.welcome-page {
  padding: 16px !important;
  text-align: center;
}

.question-card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding-top: 16px;
}

.question-card {
  width: 100%;
}

.progress {
  border-radius: 0 !important;
}

@media (min-width: 992px) {
  .main-container {
    max-width: 800px !important;
  }
}

@media (min-width: 768px) {
  .dropdown-toggle {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .left-navbar {
    display: none !important;
  }
}
